@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../styles/theme/colors.css";
@import "../styles/theme/shadow.css";

:root {
  --p: 1rem;
  --pXS: 2.125rem;
  --pMD: var(--pXS);
  --pLG: 3.25rem;

  --gap: 0.5rem;
  --gapXS: 1.25rem;
  --gapMD: var(--gapXS);
  --gapLG: 1.5rem;

  --rowNumbers: 5;
}

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  img {
    -webkit-user-drag: none;
    @apply m-0 select-none p-0;
  }
}

@layer components {
  .frame-gradient {
    @apply absolute z-20 block via-70% backdrop-blur-sm backdrop-saturate-150;
  }

  .frame-gradient-body {
    @apply from-body-1 via-body-2 to-body-3;
  }
  .frame-gradient-body-dense {
    @apply from-body-dense-1 via-body-dense-2 to-body-dense-3;
  }

  .frame-gradient-floating {
    @apply from-floating-1 via-floating-2 to-floating-3;
  }

  .frame-gradient-listBase {
    @apply from-listBase-1 via-listBase-2 to-listBase-3;
  }

  .bg-with-noise::after {
    @apply absolute inset-0 block h-full w-full bg-neutral-500 bg-noise bg-repeat mix-blend-overlay content-[''];
  }

  .paddingHeader {
    @apply pt-[calc(2.75rem+var(--p))] xs:pt-[calc(2.75rem+var(--pXS))] md:pt-[calc(2.75rem+var(--pMD))] lg:pt-[calc(2.75rem+var(--pLG))];
  }

  .scroll-pHeader {
    @apply scroll-pt-[calc(2.75rem+var(--p))] xs:scroll-pt-[calc(2.75rem+var(--pXS))] md:scroll-pt-[calc(2.75rem+var(--pMD))] lg:scroll-pt-[calc(2.75rem+var(--pLG))];
  }

  .scroll-px {
    @apply scroll-px-[--p] xs:scroll-px-[--pXS] md:scroll-px-[--pMD] lg:scroll-px-[--pLG];
  }

  .blockContainer-pl {
    @apply pl-[var(--p)] xs:pl-[var(--pXS)] md:pl-[var(--pMD)] lg:pl-[var(--pLG)];
  }
  .blockContainer-pr {
    @apply pr-[var(--p)] xs:pr-[var(--pXS)] md:pr-[var(--pMD)] lg:pr-[var(--pLG)];
  }
  .blockContainer-pt {
    @apply pt-[var(--p)] xs:pt-[var(--pXS)] md:pt-[var(--pMD)] lg:pt-[var(--pLG)];
  }

  .blockContainer-pb {
    @apply pb-[var(--p)] xs:pb-[var(--pXS)] md:pb-[var(--pMD)] lg:pb-[var(--pLG)];
  }
  .blockContainer-mb {
    @apply mb-[var(--p)] xs:mb-[var(--pXS)] md:mb-[var(--pMD)] lg:mb-[var(--pLG)];
  }

  .blockContainer-mt {
    @apply mt-[var(--p)] xs:mt-[var(--pXS)] md:mt-[var(--pMD)] lg:mt-[var(--pLG)];
  }

  .blockContainer-py {
    @apply blockContainer-pt blockContainer-pb;
  }

  .blockContainer-px {
    @apply px-[var(--p)] xs:px-[var(--pXS)] md:px-[var(--pMD)] lg:px-[var(--pLG)];
  }

  .blockContainer-p {
    @apply blockContainer-px blockContainer-pb;
  }

  .gridAutoSpace {
    @apply all-gap auto-cols-[calc((100%-9*var(--gap))/10)] xs:auto-cols-[calc((100%-14*var(--gapXS))/15)] md:auto-cols-[calc((100%-11*var(--gapMD))/12)] lg:auto-cols-[calc((100%-19*var(--gapLG))/20)] xl:auto-cols-[calc((100%-11*var(--gapLG))/12)];
  }

  .gridTemplateSpace {
    @apply all-gap grid grid-cols-10 xs:grid-cols-[repeat(15,_minmax(0,_1fr))] md:grid-cols-12 lg:grid-cols-[repeat(20,_minmax(0,_1fr))] xl:grid-cols-12;
  }

  .gridColSpanMovie {
    @apply col-span-5 snap-start xs:col-span-5 md:col-span-3 lg:col-span-4 xl:col-span-2;
  }

  .gridColSpanPeople {
    @apply col-span-3 h-min snap-start xs:col-span-3 md:col-span-2 lg:col-span-3;
  }

  .all-gap {
    @apply gap-[--gap] xs:gap-[--gapXS] md:gap-[--gapMD] lg:gap-[--gapLG];
  }

  .reducerBlock-t {
    @apply mt-[calc(var(--p)*-1)] xs:mt-[calc(var(--pXS)*-1)] md:mt-[calc(var(--pMD)*-1)] lg:mt-[calc(var(--pLG)*-1)];
  }

  .reducerBlock-b {
    @apply mb-[calc(var(--p)*-1)] xs:mb-[calc(var(--pXS)*-1)] md:mb-[calc(var(--pMD)*-1)] lg:mb-[calc(var(--pLG)*-1)];
  }

  .reducerBlock-y {
    @apply reducerBlock-b reducerBlock-t;
  }

  .reducerBlock-x {
    @apply mx-[calc(var(--p)*-1)] xs:mx-[calc(var(--pXS)*-1)] md:mx-[calc(var(--pMD)*-1)] lg:mx-[calc(var(--pLG)*-1)];
  }

  .reducerBlock {
    @apply reducerBlock-x mb-[calc(var(--p)*-1)] xs:mb-[calc(var(--pXS)*-1)] md:mb-[calc(var(--pMD)*-1)] lg:mb-[calc(var(--pLG)*-1)];
  }

  .listSpacing {
    @apply blockContainer-px blockContainer-py reducerBlock-t no-scrollbar gridAutoSpace scroll-px relative grid snap-x snap-mandatory list-none grid-flow-col grid-rows-[min-content] overflow-x-auto overflow-y-hidden overscroll-x-contain scroll-smooth;
  }

  .unavailable {
    @apply bg-gradient-to-t from-gray-1 to-gray-2 object-cover;
  }

  .label {
    @apply px-1 text-base font-semibold leading-5 text-base-strong;
  }

  .data {
    @apply p-1 text-base font-normal leading-5 text-base-subtle;
  }

  .filter-label {
    @apply label text-placeholder;
  }

  .backBtn-hover {
    @apply cursor-pointer transition-all duration-300 hover:shadow-btn-hover;
  }

  .backBtn {
    @apply backBtn-hover flex h-8 w-auto appearance-none items-center gap-2 rounded-lg border-none bg-base-dimmed px-4 shadow-btn max-sm:h-9;
  }

  .textBtn {
    @apply select-none whitespace-nowrap font-sans text-sm font-semibold tracking-normal;
  }
}

@layer utilities {
  .animate-presets {
    @apply animate-duration-500 animate-once animate-ease-in-out;
  }

  .px-safe {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }

  .py-safe {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }

  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  *,
  ::before,
  ::after {
    @apply outline-none outline outline-0 outline-transparent ring ring-transparent ring-offset-0 ring-offset-transparent;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="range"]::-webkit-slider-thumb {
    pointer-events: auto;
    -webkit-appearance: none;
    @apply btnRange;
  }

  input[type="range"]::-moz-range-thumb {
    border: none;
    pointer-events: auto;
    -moz-appearance: none;
    @apply btnRange;
  }

  .btnRange {
    @apply h-8 w-8 cursor-pointer rounded-full bg-input-on;
  }

  .all-unset {
    all: unset;
  }

  summary::-webkit-details-marker {
    display: list-item;
    display: none;
    justify-items: center;
  }
}
