:root {
    --grid-layout-gap: 0px;
    --grid-column-count: 6;
    --grid-item--min-width: 130px;
    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
    
  }


.btnStyle {
    @apply  hover:shadow-lg   rounded-md    hover:bg-slate-200 dark:hover:bg-neutral-900 dark:hover:text-neutral-100 transition-all duration-500 title
}

.title{
    @apply px-6 h-12 text-neutral-600 dark:text-neutral-300/50   flex justify-center items-center
}

.background-blur {
    /* @apply bg-slate-100/80 backdrop-blur-3xl dark:bg-neutral-950/50  */
    @apply bg-neutral-200/5 backdrop-blur-xl dark:bg-neutral-950/5 justify-between flex
   
  }

  .grade{
    display: grid;
   
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-gap: var(--grid-layout-gap);
  }