:root {
  --shadow-card:
    inset 0px 0px 0px 2px rgb(0 0 0 / 0.24), 0px 2px 4px 0px rgba(0, 0, 0, 0.4),
    0px 4px 12px 0px rgb(0 0 0 / 0.1), 0px 16px 56px rgb(17 17 26 / 0.1),
    0px 24px 80px rgb(17 17 26 / 0.08);
  --shadow-card-subtle:
    inset 0px 0px 0px 2px rgb(0 0 0 / 0.24), 0px 2px 4px 0px rgba(0, 0, 0, 0.2),
    0px 4px 12px 0px rgb(0 0 0 / 0.08), 0px 8px 24px rgb(17 17 26 / 0.1);
  --shadow-card-minimal:
    inset 0px 0px 0px 1px rgb(0 0 0 / 0.02), 0 4px 4px rgba(0, 0, 0, 0.02);
  --shadow-people:
    inset 0px 0px 0px 1px rgb(0 0 0 / 0.08), 0 10px 20px 0px rgba(0, 0, 0, 0.1);
  --shadow-btn-hList:
    inset 0px 0px 0px 1px rgb(0 0 0 / 0.1), 0px 4px 28px 0px rgb(0 0 0 / 0.2),
    0px 0px 4px 0px rgb(0 0 0 / 0.12);
  --shadow-btn:
    inset 0px 0px 0px 2px rgb(0 0 0 / 0.02), 0 4px 4px rgba(0, 0, 0, 0.02);
  --shadow-btn-hover:
    inset 0px 0px 0px 1px rgb(0 0 0 / 0.04), 0 4px 12px -4px rgba(0, 0, 0, 0.12);
}
